@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <a href="@Url.Action("Index","Home")">
        <img src=@Url.Content("~/Images/logo-zero-to-hero.jpg") alt="logo" />
    </a>
</p>
<summary><a href="https://github.com/ClotzA/Z2H_MVC">Find out more</a></summary>
